@font-face {
  font-family: Silkscreen;
  src: url(resources/silkscreen/slkscr.ttf);
}
@font-face {
  font-family: Silkscreen;
  src: url(resources/silkscreen/slkscrb.ttf);
  font-weight: bold;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8vmin;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-top: 2vmin;
  background-color: royalblue;
  color: beige;
  user-select: none;
}

.header > .text {
  font-size: 3vmin;
  padding-left: 2.5vmin;
  user-select: none;
}

.button:hover {
  text-decoration: underline solid beige 0.8vmin;
  cursor: pointer;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -9999;
  object-fit: fill;
}

body {
  min-height: 85dvh;
  /*background-color: beige;*/
  background-size: 100dvw 100dvh;
  font-family: Silkscreen;
  text-shadow: 0.25vmin 0.4vmin orangered;
}

h2 {
  font-size: 8vmin;
}

.scrolling_text {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vmin;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding-bottom: 2vmin;
  background-color: royalblue;
  color: beige;
  user-select: none;
}

.scrolling_text > .text {
  font-size: 3vmin;
  pointer-events: none;
  user-select: none;
  animation: animate_text 30s linear infinite;
}

.text span {
  margin: 0 2.3vmin;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.vignette {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
	background-image: url("/resources/crt.png");
  background-size: 100dvw 100dvh;
  pointer-events: none;
}

.scanlines {  
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
	background: url("/resources/scanlines.png");
  background-size: repeat;
  pointer-events: none;
}

.noise {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
	background-image: url("/resources/noise.gif");
  background-size: 100dvw 100dvh;
  opacity: 40%;
  pointer-events: none;
}

.static {
  visibility: hidden;
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
	background-image: url("/resources/static.gif");
  background-size: repeat;
  pointer-events: none;
}