@font-face {
  font-family: Noto Sans;
  src: url(/fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: Noto Sans;
  src: url(/fonts/Noto_Sans/NotoSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf)
      format("woff2 supports variations"),
    url(/fonts/Raleway/Raleway-VariableFont_wght.ttf) format("woff2-variations");
  font-weight: 100 900;
}

/* LAYOUT */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 2.5vmin;
  padding-top: 0.8rem;
  height: 8.5vmin;
  background-color: royalblue;

  /* FONT */

  color: beige;
  font-family: Raleway;
  text-shadow: 0.25vmin 0.4vmin orangered;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: beige;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: beige;
  }
}

body {
  font-size: 125%;
  font-family: Noto Sans;
  line-height: 1.5;
  max-width: 50rem;
  padding: 1rem;
  margin: 8.5vmin auto 8.5vmin auto;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 2.5vmin;
  padding-bottom: 0.8rem;
  height: 8.5vmin;
  align-items: center;
  background-color: royalblue;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  /* FONT */

  font-size: 3vmin;
  font-weight: 620;
  color: beige;
  font-family: Raleway;
  text-shadow: 0.25vmin 0.4vmin orangered;
}

footer > .text {
  animation: animate_text 30s linear infinite;
}
footer > .text span {
  margin: 0 2.3vmin;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.content {
}

/* NAVIGATION */

#active {
  text-decoration: underline solid beige 0.8vmin;
  text-underline-offset: 8px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav a {
  display: block;
  padding: 1rem;
  font-size: 3vmin;
  font-weight: 750;
  padding-left: 2.5vmin;
  user-select: none;
  text-decoration: none;
  color: inherit;
}

.site-nav a:hover {
  text-decoration: underline solid beige 0.8vmin;
  text-underline-offset: 8px;
  cursor: pointer;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header #error {
  visibility: hidden;
  font-size: 7dvw;
  font-weight: 600;
  margin-top: 14dvh;
}
header #error > p {
  margin: 0;
}
header #error p:first-child {
  font-size: 25dvw;
}

@media screen and (max-width: 30rem) {
  .site-nav {
    display: block;
    padding: 0rem;
    font-weight: 750;
    padding-left: 2.5vmin;
    user-select: none;
    text-decoration: none;
    color: inherit;
  }
  .site-nav a {
    font-size: 1.7vmax;
  }
  header {
    padding-top: 0;
    height: fit-content;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}

/* FILTERS */

.vignette {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-image: url("/images/crt.png");
  background-size: 100dvw 100dvh;
  pointer-events: none;
}

.scanlines {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-image: url("/images/scanlines.png");
  background-size: 720px;
  pointer-events: none;
}

.noise {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-image: url("/images/noise.gif");
  background-size: 100dvw 100dvh;
  opacity: 40%;
  pointer-events: none;
}

.static {
  visibility: hidden;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-image: url("/images/static.gif");
  background-size: repeat;
  pointer-events: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -9999;
  object-fit: fill;
}
