</main>
	
<footer>
	<div class="text">
		<span>⚠️ warning ⚠️</span>
		<span>🦺 safety first 🦺</span>
		<span>🚧 construction site 🚧</span>
		<span>⚠️ warning ⚠️</span>
		<span>🦺 safety first 🦺</span>
		<span>🚧 construction site 🚧</span>
		<span>⚠️ warning ⚠️</span>
		<span>🦺 safety first 🦺</span>
		<span>🚧 construction site 🚧</span>
	  </div>
	  <div class="text">
		<span>⚠️ warning ⚠️</span>
		<span>🦺 safety first 🦺</span>
		<span>🚧 construction site 🚧</span>
		<span>⚠️ warning ⚠️</span>
		<span>🦺 safety first 🦺</span>
		<span>🚧 construction site 🚧</span>
		<span>⚠️ warning ⚠️</span>
		<span>🦺 safety first 🦺</span>
		<span>🚧 construction site 🚧</span>
	  </div>
</footer>

<script src="/js/loader.js"></script>

</body>
</html>
