@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';

html {
	/* font */
	--font-sans: 'Manrope', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;

	/* dark */
	--brand-dark: var(--yellow-3);
	--text-1-dark: var(--gray-3);
	--text-2-dark: var(--gray-5);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gray-10);
	--border-dark: var(--gray-4);

	/* light */
	--brand-light: var(--blue-10);
	--text-1-light: var(--gray-8);
	--text-2-light: var(--gray-7);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: var(--brown-0);
	--border-light: var(--gray-9);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--brand: var(--brand-dark);
		--text-1: var(--text-1-dark);
		--text-2: var(--text-2-dark);
		--surface-1: var(--surface-1-dark);
		--surface-2: var(--surface-2-dark);
		--surface-3: var(--surface-3-dark);
		--surface-4: var(--surface-4-dark);
		--background: var(--background-dark);
		--border: var(--border-dark);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'], [data-theme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

[color-scheme='light'], [data-theme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

html,
body {
	height: 100dvh;
}

/*
@media (width < 300px) {
	main {
		margin: 0 auto;
	}
}

@media (width > 768px) {
	main {
		margin-inline: 10dvw;
	}
}
*/

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-color: var(--background);
}

img {
	border: 0.1054em solid var(--text-1);
}

.st {
	position: relative;
    white-space: nowrap;
}

.st:after {
    content: '';
    display: block;
    width: 100%;
    height: 53%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 0.1054em solid;
	pointer-events: none
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

a {
	color: var(--brand);
}

a:visited {
	color: var(--brand);
}

a:hover {
	text-decoration: underline solid var(--text-1) 0.1054em;
}

::-webkit-scrollbar {
	width: var(--size-1);
}

::-webkit-scrollbar-track {
	background: var(--background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--background);
	box-shadow: inset 0px 0px 0px 0.1054em var(--text-1);
}

/*Markdown Styling*/

.prose #table-of-contents {
	display: none;
}

.prose > ul:first-of-type {
	padding-block: var(--size-6);
	margin-bottom: var(--size-6);
	border-bottom: 0.1054em solid var(--text-1);
}

.prose > ul:first-of-type li+ul {
	margin-block: var(--size-2);
}

.prose :is(h1) {
	font-size: var(--size-7);
	margin-top: var(--size-7);
	margin-bottom: var(--size-3);
}

.prose :is(h1:first-of-type) {
	margin-top: 0;
}

.prose :is(h2) {
	font-size: var(--size-5)
}

.prose :is(h3) {
	font-size: var(--size-4);
}

.prose :is(h4, h5, h6) {
	font-size: var(--size-3);
}

.prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-6);
	margin-bottom: var(--size-1);
}

.prose p:not(:is(h1, h2, h3, h4, h5, h6) + p) {
	margin-top: var(--size-5);
}

.prose :is(ul, ol) {
	list-style-type: lower-greek;
	list-style-position: inside;
	padding-left: var(--size-3);
}

.prose :is(ul, ol) li {
	margin-block: var(--size-1);
	padding-inline-start: var(--size-1);
}

.prose pre {
	border: 0.1054em solid var(--text-1);
	max-inline-size: 100%;
	padding-block: 1em;
	tab-size: 4;
}

code {
	counter-reset: step;
	counter-increment: step 0;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1.2em;
	margin-right: 1.2em;
	display: inline-block;
	text-align: right;
	color: rgba(115,138,148,.4);
}

@media only screen and (max-width: 768px) {
	.prose pre {
		font-size: 2cqw;
	}
}